<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animal</key>
	<array>
		<string>ANT</string>
		<string>BEAR</string>
		<string>BEE</string>
		<string>BUTTERFLY</string>
		<string>CAT</string>
		<string>COW</string>
		<string>CRAB</string>
		<string>CROCODILE</string>
		<string>DEER</string>
		<string>DOG</string>
		<string>DOLPHIN</string>
		<string>DONKEY</string>
		<string>DUCK</string>
		<string>ELEPHANT</string>
		<string>FISH</string>
		<string>FOX</string>
		<string>FROG</string>
		<string>GIRAFFE</string>
		<string>GOAT</string>
		<string>GUINEA PIG</string>
		<string>HEN</string>
		<string>HIPPOPOTAMUS</string>
		<string>HORSE</string>
		<string>LADYBIRD</string>
		<string>LION</string>
		<string>MONKEY</string>
		<string>MOUSE</string>
		<string>OCTOPUS</string>
		<string>OWL</string>
		<string>PANDA</string>
		<string>PENGUIN</string>
		<string>PIG</string>
		<string>RABBIT</string>
		<string>SHEEP</string>
		<string>SNAIL</string>
		<string>TIGER</string>
		<string>TORTOISE</string>
		<string>WHALE</string>
		<string>YAK</string>
		<string>ZEBRA</string>
	</array>
	<key>thing</key>
	<array>
		<string>AEROPLANE</string>
		<string>APPLE</string>
		<string>AXE</string>
		<string>BALL</string>
		<string>BICYCLE</string>
		<string>BOAT</string>
		<string>CAKE</string>
		<string>CAR</string>
		<string>CARROT</string>
		<string>DOLL</string>
		<string>DRUM</string>
		<string>EGG</string>
		<string>ERASER</string>
		<string>FAN</string>
		<string>FLOWER</string>
		<string>GLASS</string>
		<string>GUITAR</string>
		<string>HAT</string>
		<string>HOUSE</string>
		<string>ICE CREAM</string>
		<string>IRON</string>
		<string>JACKET</string>
		<string>JUG</string>
		<string>KEY</string>
		<string>KITE</string>
		<string>LAMP</string>
		<string>LUGGAGE</string>
		<string>MANGO</string>
		<string>MUSHROOM</string>
		<string>NAIL</string>
		<string>NURSE</string>
		<string>ONION</string>
		<string>ORANGE</string>
		<string>PENCIL</string>
		<string>PINEAPPLE</string>
		<string>RING</string>
		<string>ROBOT</string>
		<string>STRAWBERRY</string>
		<string>SUN</string>
		<string>TENT</string>
		<string>TRAIN</string>
		<string>UMBRELLA</string>
		<string>UNICORN</string>
		<string>VASE</string>
		<string>VIOLIN</string>
		<string>WATCH</string>
		<string>WHISTLE</string>
		<string>ZIPPER</string>
	</array>
</dict>
</plist>
